*{
    margin:0;
    padding:0;
}
section {
    background-image:  url('Images/iStock.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    width:100vw;
    height:150vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container {
    width: 47vw;
    height: 57vh;
    background-image: url('Images/Creativity_blog_lg.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
}
.container1 {
    width: 75vw;
    height: 130vh;
    background-image: url('Images/Creativity_blog_lg.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
     top: 7px;
    left: -75px;
}
.container2 {
    width: 75vw;
    height: 130vh;
    background-image: url('Images/Creativity_blog_lg.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
    top: 7px;
    left: -75px;
}
.container .inner2 {
    width: 50%;
    height: 100%;
    position:absolute;
    right:0;
    background:rgba(255,252,252,0.92);
    text-align:center;
}
.container .inner1 {
    width: 50%;
    height: 100%;
    position:absolute;
    right:0;
    background:rgba(255,252,252,0.92);
    text-align:center;
}
.container1 .inner1 {
    width: 80%;
    height: 100%;
    position: absolute;
    right: 0;
    background: rgba(255,252,252,0.92);
    text-align: center;
}
.container1 .innerx {
     width: 20%;
    height: 100%;
    position: absolute;
    left: 0;
    text-align: center;
}
span{
    font-size:2vw;
    color:black;
    border:1px solid white;
    display:block;
    margin-top:30%;
    font-family:'Bitter';
}
.container1 .innerx .a{
    display:inline-block;
    width:60%;
    height:4%;
    margin-top:11%;
    margin-bottom:11%;
    padding:4% 4%;
    font-family:'Bitter';
    color:white;
    border:1px solid white;
    display:block;
}
.aa{
    border:1px solid white;
    width:60%;
    height:4%;
     display:block;
     padding:4% 4%;
     display:block;
     margin-left:15%;
     background:black;
     color:white;
     
}
.container1 .inner1 input[type=text] {
    width:55%;
    height:5%;
    margin-bottom:3%;
    border:0;
    background-color:transparent;
    border-bottom:1px solid #ff00dc;

}
.container1 .inner1 input[placeholder] {
    font-size: 1.3vw;
    padding-left: 3%;
    font-family: 'Crete Round';
}
.container2 .inner1 {
     width: 20%;
    height: 100%;
    position: absolute;
    left: 0;
    text-align: center;
}
span{
    font-size:2vw;
    color:black;
    border:1px solid white;
    display:block;
    margin-top:30%;
    font-family:'Bitter';
}
.container2 .inner1 .a{
    display:inline-block;
    width:60%;
    height:4%;
    margin-top:11%;
    margin-bottom:11%;
    padding:4% 4%;
    font-family:'Bitter';
    color:white;
    border:1px solid white;
    display:block;
}
.aa{
    border:1px solid white;
    width:60%;
    height:4%;
     display:block;
     padding:4% 4%;
     display:block;
     margin-left:15%;
     background:black;
     color:white;
     
}
.container2 .inner2 {
     width: 80%;
    height: 100%;
    position: absolute;
    right: 0;
    background: rgba(255,252,252,0.92);
    text-align: center;
}
h3{
    font-size:2.5vw;
    font-family:'Pacifico';
    margin-bottom:13%;
    margin-top:6%;
}
input[type=text],input[type=password]{
    width:80%;
    height:10%;
    margin-bottom:3%;
    border:0;
    background-color:transparent;
    border-bottom:1px solid #4cff00;

}

input[placeholder] {
    font-size: 1.4vw;
    padding-left: 3%;
    font-family: 'Crete Round';
}


.btn{
    width:40%;
    height:10%;
    font-family:'Crete Round';
    font-size:1.3vw;
    background-color:#ff6a00;
    color:white;
    border:1px solid;

}
.ss{

    font-family:'Crete Round';
    font-size:1.3vw;
    padding-left: 3%;
    color:#808080;
}
.btn1{
     border-style: solid;
    border-color: inherit;
    border-width: 1px;
    font-family:'Crete Round';
    font-size:1.3vw;
    background-color:#b200ff;
    color:white;
    width:40%;
    height:10%;
    }
.btn2{
    width:40%;
    height:10%;
    font-family:'Crete Round';
    font-size:1.3vw;
    background-color:#ff6a00;
    color:white;
    border:1px solid;

}
.btns{
    width:20%;
    height:5%;
    font-family:'Crete Round';
    font-size:1.3vw;
    background-color:#ff0000;
    color:white;
    border:1px solid;
}
.plus{
    margin-top:10px;
    display:block;
    background-color:#ff0000;
    margin-left:95%;
}
task{
    display:block;
    background-color:white;
}
.link{
    width:60%;
    height:10%;
    font-family:'Crete Round';
    font-size:1.3vw;
    background-color:white;
    color:#091cf8;
    border:1px solid #fff;

}
.lbl{
    font-family:'Crete Round';
    font-size:1.5vw;
    margin-top:5%;
    margin-left:21%;
    color:black;
    left:0;
    text-align:right;
}

.container2 .inner2 input[type=text] {
    width:50%;
    height:5%;
    height:10%;
    margin-top:3%;
    border:0;
    background-color:transparent;
    border:1px solid #808080;
    margin-left:80%;
}
h1{
    font-size:1.5vw;
    font-family:'Pacifico';
    color:black;
    text-align:left;
    margin-left:3%;
}
txt{
    Width:150px;
    Height:20%;
    border:0;
    background-color:transparent;
    border:2px dotted #808080;
    margin-left:80%;
}
.auto-style1{
    left:80%;
}